.span1{
  display: flex;

}
input {
  gap: 20px;
  margin: 10px;
  width: 60px;
  height: 35px;
}
.container{
  margin:50px 50px 50px;
  display: flex;
  gap: 50px;
  justify-content: center
}
.label{
  text-align: center;
  border: 3px solid green;
  padding: 5px;

}